
console.log("here")

noty({text: 'Comment is successfully destroyed!!', type: 'success', timeout: 1500, theme: 'defaultTheme',maxVisible: 5,template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
progressBar: true});

<% n = @comment.id%>
 $(function() {
     $("#die_comment_<%=n%>").fadeOut(1000);
	
 });
