<nav class="navbar navbar-light bg-faded">
	<ul class="nav navbar-nav pull-right">
	<% if current_user%>


	<li class = 'nav-item btn-group'>
	<a class="dropdown-toggle nav-link" type="button" id="drowdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
	<%= fa_icon "bell"%>
	</a>
	<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
	<a class="dropdown-item" href="#">Action1</a>
	<a class="dropdown-item" href="#">Action2</a>
	<a class="dropdown-item" href="#">Action3</a>
	</div>
	</li>
	</ul>
	</nav>
	